@import '../../node_modules/normalize-scss/sass/normalize/import-now';
@import 'mixins-media';

:root {
	--bg-black: #202229;
	--bg-gray: #303030;
	--black: #000000;
	--gray-light: #767674;
	--dark-blue: #191a4a;
	--blue: #3e4491;
	--sky-blue: #2f77c6;
	--white: #ffffff;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	background: var(--bg-black);
}

.header {
	color: var(--white);
	display: flex;
	justify-content: center;
}

.searcher {
	color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 90vw;
	padding: 0 20px;
	margin: 0 auto;
	&__input {
		padding: 12px 10px;
		width: 98%;
		margin: 0 auto 10px;
		background: var(--sky-blue);
		border: none;
		outline: none;
		color: var(--white);
		&::placeholder {
			color: var(--white);
			margin: 0;
			padding: 0;
		}
	}
}

.user-list {
	background: var(--bg-gray);
	width: 100%;
	overflow: auto;
	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background-color: var(--bg-black);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--blue);
		border-radius: 20px;

		&:hover {
			background-color: #5c62b0;
		}
	}
	@include height-md-min {
		height: 80vh;
	}
	@include height-md-sm {
		height: 75vh;
	}
	@include height-sm {
		height: 70vh;
	}
	&__not-found {
		padding: 0 15px;
	}
	&__link {
		text-decoration: none;
		color: var(--white);
	}
}

.user-item {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--blue);
	border: 2px solid var(--black);
	cursor: pointer;
	@include sm-min {
		font-size: 16px;
	}
	@include sm {
		font-size: 14px;
	}
	&__img {
		width: 3.125em;
		height: 3.125em;
	}
	&__login {
		margin: 0;
		font-size: 1.2em;
		@include sm {
			max-width: 150px;
			overflow: hidden;
		}
	}
	&__id {
		display: flex;
		flex-direction: column;
		width: 80px;
		gap: 5px;
		@include sm-min {
			width: 80px;
		}
		@include sm {
			width: 60px;
		}
	}
}

.user-details {
	position: relative;
	max-width: 90vw;
	margin: 0 auto;
	color: var(--white);
	background: var(--sky-blue);
	padding: 50px 30px 10px;
	&__error {
		text-align: center;
	}
	&__link {
		margin-bottom: 15px;
		@include md-min {
			margin-left: 22%;
		}
		@include md-sm {
			text-align: center;
		}
		a {
			text-decoration: none;
			color: var(--white);
		}
	}
	&__input {
		display: flex;
		justify-content: center;
	}

	&__input-item {
		padding: 12px 10px;
		width: 98%;
		margin: 0 auto 10px;
		background: var(--blue);
		border: none;
		outline: none;
		color: var(--white);
		@include sm-min {
			font-size: 20px;
		}
		@include sm {
			font-size: 15px;
		}
		&::placeholder {
			color: var(--gray-light);
			margin: 0;
			padding: 0;
		}
	}
	&__btn {
		position: absolute;
		right: 15px;
		top: 15px;
	}
}

.user-info {
	display: flex;
	margin-bottom: 15px;
	@include md-min {
		justify-content: space-evenly;
	}
	@include md {
		flex-direction: column;
		gap: 20px;
	}
	&__img-folder {
		@include md-sm {
			display: flex;
			justify-content: center;
		}
	}
	&__img {
		@include sm-min {
			width: 250px;
			height: 250px;
		}
		@include sm {
			width: 200px;
			height: 200px;
		}
	}

	&__description {
		display: flex;
		flex-direction: column;
		gap: 2.5px;
		p {
			margin: 0;
			letter-spacing: 0.05rem;
			@include md-sm {
				text-align: center;
			}
		}
	}
}

.repositories {
	max-width: 90vw;
	margin: 0 auto;
	color: var(--white);
	height: 50vh;
	overflow: auto;
	padding-right: 2px;
	margin-bottom: 40px;
	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background-color: var(--bg-black);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--dark-blue);
		border-radius: 20px;

		&:hover {
			background-color: #5c62b0;
		}
	}
	&-item {
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: var(--dark-blue);
		border: 3px solid var(--black);
		font-size: 1.2rem;
		text-decoration: none;
		color: var(--white);
		&:not(:last-of-type) {
			margin-bottom: -3px;
		}
		&__info {
			display: flex;
			flex-direction: column;
			width: 60px;
			gap: 5px;
		}
	}
	&__not-found,
	&__loading {
		padding-left: 10px;
	}
	&__loading {
		overflow: hidden;
		white-space: nowrap;
		animation: expand 1s infinite;
	}
}

@keyframes expand {
	from {
		width: 0;
	}
	to {
		width: 30%;
	}
}
